<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link rel="stylesheet" href="/stylesheets/product.css">
    <title>Apple FPL</title>
  </head>
  <style>
    body {
      background-color: #000;
    }
    .card {
      border: none;
    }
    .product {
      background-color: #eee;
    }
    .brand {
      font-size: 13px;
    }
    .act-price {
      color: red;
      font-weight: 700;
    }
    .dis-price {
      text-decoration: line-through;
    }
    .about {
      font-size: 14px;
    }
    .color {
      margin-bottom: 10px;
    }
    label.radio {
      cursor: pointer;
    }
    label.radio input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      pointer-events: none;
    }
    label.radio span {
      padding: 2px 9px;
      border: 2px solid #ff0000;
      display: inline-block;
      color: #ff0000;
      border-radius: 3px;
      text-transform: uppercase;
    }
    label.radio input:checked + span {
      border-color: #ff0000;
      background-color: #ff0000;
      color: #fff;
    }
    .btn-danger {
      background-color: #ff0000 !important;
      border-color: #ff0000 !important;
    }
    .btn-danger:hover {
      background-color: #da0606 !important;
      border-color: #da0606 !important;
    }
    .btn-danger:focus {
      box-shadow: none;
    }
    .cart i {
      margin-right: 10px;
    }
  </style>
  <body>
    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="row">
              <div class="col-md-6">
                <div class="images p-3">
                  <div class="text-center p-4">
                    <img
                      id="main-image"
                      src="/images/<%= productdetail.urlHinh %>"
                      width="350"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product p-4">
                  <div class="mt-4 mb-3">
                    <span class="text-uppercase text-muted brand"></span>
                    <h5 class="text-uppercase"><%= productdetail.tenSP%></h5>
                    <div class="price d-flex flex-row align-items-center">
                      <span class="act-price"
                        ><%=productdetail.gia.toLocaleString('vi') %>đ
                      </span>
                      <div class="ml-2">
                        <small class="dis-price"
                          ><%=productdetail.giaCu.toLocaleString('vi') %>đ
                          %></small
                        >
                      </div>
                    </div>
                  </div>
                  <p class="about"><%= productdetail.moTa %></p>
                  <div class="sizes mt-5"></div>
                  <div class="cart mt-4 align-items-center">
                    <button class="btn btn-danger text-uppercase mr-2 px-4">
                      Add to cart
                    </button>
                    <i class="fa fa-heart text-muted"></i>
                    <i class="fa fa-share-alt text-muted"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



  <center><h2 style="margin-top: 10px;">Sản phẩm liên quan</h3></center>
    <div id="cardhot" class="row row-cols-1 row-cols-md-4 g-0 d-flex" style="margin-left: 40px; margin-bottom: 30px;"></div>
    <script>
      fetch('http://localhost:3000/products/loai/1')
        .then(res => res.json())
        .then(data => {
          console.log(data)
          let cardhot = document.getElementById('cardhot');
          data.forEach(s => {
            cardhot.innerHTML += `
      <div class="card d-flex" style="height: 450px; display: block; margin: 0 10px; width: 300px; margin-top: 30px;">
        <center>
          <a href="/productdetail/${s.id}">
            <img class="card-img-top" src="/images/${s.urlHinh}" style="width: 250px; height: 250px" />
          </a>
        </center>
        <div class="card-body">
          <h5 class="card-title">
            <a href="/productdetail/${s.id}">
              ${s.tenSP}
            </a>
          </h5>
          <div class="d-flex flex-g" style="font-weight: bold">
            <p class="card-text">
              ${s.gia.toLocaleString('vi')}đ
            </p>
            <span style="padding-left: 15px; color: red" class="card-text-old"><del>
                ${s.giaCu.toLocaleString('vi')}đ
              </del></span>
          </div>
        </div>
        <div class="btn">
          <center>
            <button type="button" class="btn btn-warning" style="width: 100%">
              Thêm vào giỏ hàng
            </button>
          </center>
        </div>

  </div>
          `
          });
        })
    </script>


</html>
