<link rel="stylesheet" href="/stylesheets/sidebar.css">
<link rel="stylesheet" href="/stylesheets/product.css">
<style>
  .row-cols-md-4 {
    padding-left: 30px;
  }

  .row-cols-md-4:first-of-type {
    margin-left: 58px;
  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card-body a {
    text-decoration: none;
  }
</style>


<div class="container" style="overflow: hidden; z-index: 1;">
<div id="banner"></div>
<div id="xemnhieu" style="margin-top: 30px;"></div>
<div id="cardview" style="margin-left: 10px;" class="row row-cols-1 row-cols-md-4 g-0 d-flex"></div>
<div id="hot" style="margin-top: 30px;"></div>
<div id="cardhot" style="margin-left: 10px;" class="row row-cols-1 row-cols-md-4 g-0 d-flex"></div>
  <script>
    if (window.location.pathname === "/") {
      document.getElementById('banner').innerHTML = `<img src="https://shopdunk.com/images/uploaded/Linh%20Cherry/banner%20KV%2030.4%20PC.jpeg" alt="" width="100%">`;
      document.getElementById('xemnhieu').innerHTML = `<center><h2>Sản phầm xem nhiều</h2></center>`
      fetch('http://localhost:3000/products/producthot')
        .then(res => res.json())
        .then(data => {
          console.log(data)
          let cardhot = document.getElementById('cardhot');
          data.forEach(s => {
            cardhot.innerHTML += `
      <div class="card d-flex" style="height: 450px; display: block; margin: 0 10px; width: 300px; margin-top: 30px;">
        <center>
          <a href="/productdetail/${s.id}">
            <img class="card-img-top" src="/images/${s.urlHinh}" style="width: 250px; height: 250px" />
          </a>
        </center>
        <div class="card-body">
          <h5 class="card-title">
            <a href="/productdetail/${s.id}">
              ${s.tenSP}
            </a>
          </h5>
          <div class="d-flex flex-g" style="font-weight: bold">
            <p class="card-text">
              ${s.gia.toLocaleString('vi')}đ
            </p>
            <span style="padding-left: 15px; color: red" class="card-text-old"><del>
                ${s.giaCu.toLocaleString('vi')}đ
              </del></span>
          </div>
        </div>
        <div class="btn">
          <center>
            <button type="button" class="btn btn-warning" style="width: 100%">
              Thêm vào giỏ hàng
            </button>
          </center>
        </div>

  </div>
          `
          });
        })


      fetch('http://localhost:3000/products/productview')
        .then(res => res.json())
        .then(data => {
          console.log(data)
          let hot = document.getElementById('hot').innerHTML = `<center><h2>Sản phầm hot</h2></center>`
          let cardview = document.getElementById('cardview');
          data.forEach(s => {
            cardview.innerHTML += `
            
              <div class="card d-flex" style="height: 450px; display: block; margin: 0 10px; width: 300px; margin-top: 30px;">
                <center>
                  <a href="/productdetail/${s.id}">
                    <img class="card-img-top" src="/images/${s.urlHinh}" style="width: 250px; height: 250px" />
                  </a>
                </center>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/productdetail/${s.id}">
                      ${s.tenSP}
                    </a>
                  </h5>
                  <div class="d-flex flex-g" style="font-weight: bold">
                    <p class="card-text">
                      ${s.gia.toLocaleString('vi')}đ
                    </p>
                    <span style="padding-left: 15px; color: red" class="card-text-old"><del>
                      ${s.giaCu.toLocaleString('vi')}đ
                    </del></span>
                  </div>
                </div>
                <div class="btn">
                  <center>
                    <button type="button" class="btn btn-warning" style="width: 100%">
                      Thêm vào giỏ hàng
                    </button>
                  </center>
                </div>
              </div>
              
            `
          });
        })
        
    }
  </script>
  


  

  
  <div class="row row-cols-1 row-cols-md-4 g-0" style="margin-left: 10px; margin-bottom: 30px;">
    <% for (let s of listApple) { %>
      <div class="card" style="
      height: 450px;
      display: block;
      margin: 0 10px;
      width: 300px;
      margin-top: 30px;
    ">
        <center>
          <a href="/productdetail/<%=s.id%>">
            <img class="card-img-top" src="/images/<%= s.urlHinh %>" style="width: 250px; height: 250px" />
          </a>
        </center>
        <div class="card-body">
          <h5 class="card-title">
            <a href="/productdetail/<%= s.id %>">
              <%= s.tenSP %>
            </a>
          </h5>
          <div class="d-flex flex-g" style="font-weight: bold">
            <p class="card-text">
              <%= s.gia.toLocaleString('vi') %>đ
            </p>
            <span style="padding-left: 15px; color: red" class="card-text-old"><del>
                <%= s.giaCu.toLocaleString('vi') %>đ
              </del></span>
          </div>
        </div>
        <div class="btn">
          <center>
            <button type="button" class="btn btn-warning" style="width: 100%">
              Thêm vào giỏ hàng
            </button>
          </center>
        </div>
      </div>


      <% } %>

  </div>

  <!-- <div class="sidebar">
  <h2>dfasdf</h2>
</div> -->
</div>